.catalog {
    background-color: gray;
    text-align: center;
    padding: 1% 4% 0px 4%;
    margin: 0px 0px 0px 0px;
    height: 60vh;
}

.catalog_h1{
    position: relative;
    top: 45%;
    transform: translateY(-45%);

}