.home {
    /*border: 3px red solid;*/
    background-color: gray;
    text-align: center;
    padding: 0px 4% 0px 4%;
    margin: 9.6% 0px 0px 0px;
    height: 60vh;
    /*position: relative;*/
    /*z-index: -1;*/
}

.home_h1{
    /*text-align: center;*/
    position: relative;
    top: 45%;
    transform: translateY(-45%);

}